*
{
  padding: 0px;
  margin: 0px;    
    
}
.wrapper
{
    width: 100%;
    height: auto;
}

header
{
    background: grey;
    height: 100px;
    }

.logo
{
    font-size: 70px;
    font-family: "Marquee";
    color: rebeccapurple;
    text-shadow: 1px 1px black;
    padding-left: 10px;
    float: left;
}

nav
{
    float: right;
    padding-right: 10px;    
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
}

nav ul li a
{
    color: yellow;
    margin-left: 20px;
    font-family: "segoe ui";
    text-decoration: none;
    font-size: 18px;
    }

nav ul li a:hover
{
    color: #fff;
}

.pic
{
    
    height: 500px;
    background: url(../Img/35.JPG);
    margin: 10px auto;
}

section
{
    height: 700px;
    padding: 10px;
    
}

article
{
    float: left;
    width: 60%;
    background: brown;
    height: 600px;
    
}


aside
{
    float:right;
    width: 40%;
    background: lavender;
    height: 600px;
}

.title
{
    font-family: "segoe ui";
    font-size: 22px;
    font-weight: 200;
    color: blue;
    }

.text
{
    font-family: "trebuchet ms";
    text-align: justify;
    font-size: 16px;
    color: #333;
    padding: 5px;
}

.Image
{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-left: 90px;
    }

 a
{
   color: maroon;
   text-decoration: none;
   font-family: "segoe ui";        
}

.sub
{
    padding-left: 10px;
    
}

.left
{
    float: left;
    width: 50%;
    height: 300px;
    background: pink;
}

.right
{
    float: right;
    width: 50%;
    height: 300px;
    background: grey;
}



footer
{
    height: 90px;
    background: navy;
    color: forestgreen;
    font-family: "trebuchet ms";
    text-align: center;
    padding: 10px;
    
}

.contain
{
    height: 600px;
    padding: 10px;
}
.top
{
    float: left;
    height: 500px;
    background: blue;
    width: 32%;
}
.middle
{
    float: left;
    height: 500px;
    background:grey;
    width: 32%;
    margin-left: 20px;
}
.bottom
{
    float: right;
    height: 500px;
    background:red ;
    width: 32%;
}
.image{
    width: 96%;
    height: 600px;
    background: red;
    margin: 10px auto;
}

.pix
{
    height: 200px;
    width: 200px;
    margin-left: 7px;
}
.pix:hover
{
    -moz-transition: 2s;
    -moz-transform: rotate(360deg);
    border-radius:20%;
}

.form
{
    width: 70%;
    height: 570px;
    float: left;
}
.address
{
    float: right;
    width: 30%;
    height: 570px;
    font-family: "segoe ui"
}
.sm
{
    padding: 5px;
    margin-bottom: 7px;
}

.txt
{
    width: 48%;
    height: 35px;
}

.txtx
{
    height: 35px;
    width: 96.9%;
}

.msg
{
  height: 300px;
  width: 96.9%;
  resize: none;
}

.btn
{
    height: 35px;
    width: 190px;
    background: blue;
    color: yellow;
    font-weight: bold;
    border: 2px solid blue;
}